<header class="site-navbar-wrap">
  <nav class="navbar navbar-expand-lg site-navbar">
    <div class="container-fluid px-3 px-lg-4">
      <a class="navbar-brand site-navbar__brand" routerLink="/">
        <span class="site-navbar__brand-icon">
          <img
            src="assets/icons/icon_patita.png"
            alt="MascotasChile"
            width="34"
            height="34">
        </span>
        <span class="site-navbar__brand-text">
          Mascotas<span>Chile</span>.cl
        </span>
      </a>

      <button
        class="navbar-toggler site-navbar__toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mx-auto align-items-lg-center gap-lg-2">
          <li class="nav-item" *ngFor="let item of navItems">
            <a
              *ngIf="item.path; else disabledItem"
              class="nav-link site-navbar__link"
              [routerLink]="item.path"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: item.exact ?? false }">
              {{ item.label }}
            </a>

            <ng-template #disabledItem>
              <span class="nav-link site-navbar__link site-navbar__link--static">
                {{ item.label }}
              </span>
            </ng-template>
          </li>
        </ul>

        <div class="site-navbar__actions" *ngIf="!user?.nombre; else loggedUserActions">
          <a class="btn site-navbar__login" routerLink="/login">Ingresar</a>
          <a class="btn site-navbar__register" routerLink="/register">Registrarse</a>
        </div>

        <ng-template #loggedUserActions>
          <div class="site-navbar__actions site-navbar__actions--logged">
            <span class="site-navbar__welcome">Hola {{ user.nombre }}</span>
            <a class="btn site-navbar__login" routerLink="/">Mi inicio</a>
            <button class="btn site-navbar__logout" type="button" (click)="logout()">Salir</button>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
