<nav class="navbar bg-body-tertiary">

<div>
  <a class="navbar-brand d-flex me-4" href="#">
        <img src="assets/icons/icon_patita.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top icono-patita">
        AppMascotas
      </a>
</div>



<div>
  <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/pets" routerLinkActive="active">Mascotas Perdidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Conocenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

    </ul>

</div>
<div>
  <p>hola</p>
</div>





</nav>
