.app-button-login {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;

  padding: 8px 22px;
  transition: all 0.2s ease;
}

/* Variante green */
.app-button-login--green {
  background-color: #438647;
  color: white;
}

.app-button-login--green:hover {
  background-color: #356b38;
}

.app-button-login--green:active {
  background-color: #274f2a;
}

.app-button-login--green:disabled {
  background-color: #9fc5a3;
  cursor: not-allowed;
}
