.container {
  /*background-image: url('/assets/images/fondo_register.png');*/
  background-color: #30332E;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.coltext {
  align-content: center;
  height: 35vh;
  font-size: 2.5rem;
  color: #FFFBFC;
  padding: 30px;
}

.colform {
  align-content: center;
  height: 65vh;
  padding: 40px;
}

.form-label, .form-text, .form-check-label {
  color: #FFFBFC;
  font-size: 1rem;
}