/* Botón base totalmente neutro */
.app-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Variante pink SOLO color */
.app-button--pink {
  background-color: #438647;
  color: white;
}

.app-button--pink:hover {
  background-color: #356b38;
}

.app-button--pink:active {
  background-color: #274f2a;
}

.app-button--pink:disabled {
  background-color: #9fc5a3;
}



