/* Botón base totalmente neutro */
.app-button-cta {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: medium;
  letter-spacing: 1px;

}

/* Variante green SOLO color */
.app-button-cta--green {
  background-color: #438647;
  color: white;
}

.app-button-cta--green:hover {
  background-color: #356b38;
}

.app-button-cta--green:active {
  background-color: #274f2a;
}

.app-button-cta--green:disabled {
  background-color: #9fc5a3;
}

.app-button-cta--orange {
  background-color: #ef6c23;
  color: white;
}

.app-button-cta--orange:hover {
  background-color: #d75f1f;
}

.app-button-cta--orange:active {
  background-color: #b94f18;
}

.app-button-cta--orange:disabled {
  background-color: #f3ad82;
}
