<div class="card mascota-card shadow mb-5 rounded-5 border-0"
  [ngStyle]="{'background-image': 'url(' + mascota.imagenUrl + ')'}">
  <div class="card-overlay">
    <div class="card-body text-white">
      <div class="info-card">
        <div>
          <span>{{ mascota.nombre }}</span>
        </div>

        <div>
          <span class="badge" [ngClass]="getEstadoClase(mascota.estado)">
            {{ mascota.estado }}
          </span>
          <span>{{ mascota.ubicacion }}</span>
        </div>
      </div>

      <app-button label="Ver Mascota" variant="green" buttonClass="w-100"></app-button>

    </div>
  </div>
</div>
