.mascota-card {
  position: relative;
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mascota-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

/* Carrusel */
.carousel {
  flex: 1;
  border-radius: 25px 25px 0 0;
}

.carousel-inner {
  border-radius: 25px 25px 0 0;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* Controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Capa oscura encima de la imagen */
.card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1) 0%,
    rgb(0, 0, 0) 0%,
    transparent 80%
  );
}


/* Contenido */
.card-body {
  position: relative;
  z-index: 2;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  text-align: center;
}


.estado-robado {
  background-color: #dc3545; /* rojo fuerte */
  color: white;
}

.estado-extraviado {
  background-color: #ff8800; /* naranja */
  color: white;
}

.estado-encontrado {
  background-color: #2d6a4f; /* verde claro */
  color: white;
}
.estado-recuperado {
  background-color: #2d6a4f; /* verde oscuro */
  color: white;
}

.estado-busca-hogar {
  background-color: #009bb0; /* cyan */
  color: white;
}

.estado-adoptado {
  background-color: #ffc107; /* dorado */
  color: black;
}

.estado-buscando-pareja {
  background-color: #ff69b4; /* rosa */
  color: white;
}

.estado-emparejado {
  background-color: #6f42c1; /* violeta */
  color: white;
}

.estado-default {
  background-color: #6c757d;
  color: white;
}

